/* Styling for Skill Icons */

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

.skill {
    margin: 2%;
    margin-bottom: 2px;
    list-style-type: none;
    
}

.skill a {
    color:black;
    font-size:15px;
    text-decoration: none;
}

.skill a:hover {
    color: rgb(67, 26, 163);
    filter: saturate(150%);
}

.skill a p:hover {
    color: rgb(67, 26, 163);
    filter: saturate(150%);
}


/* Styling for Links */

.profLinks {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
    
}

.profLinks div {
    margin: 1%;
}

.profLinks a {
    color:black;
    font-size:20px;
    text-decoration: none;
}

.profLinks p {
    margin-top: 15px;
}

.profLinks a:hover {
    color: rgb(67, 26, 163);
    filter: saturate(150%);  
}

.profLinks img {
    border-radius: 20px;
    border:1px solid rgb(67, 26, 163);
}
