.bio-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 80px;
    margin-top: -20px;  
}

/* .card-group {
    
} */

.card {
    margin: 70px; 
}

.card-header {
    background-color: rgb(211, 186, 240);
}

.card-title {
    color:rgb(67, 26, 163);
}

#status-title {
    color: white
}

#img-card #info-card {
    width: 100px;
    height: 200px;
}

#card-body {
    width: 100%;
}

.landscape-img {
    max-width: 100%;
    /* height: auto; */
    object-fit: contain;
    padding: 30px;
    background-color:rgb(67, 26, 163);
}

.headshot-img {
    max-width: 100%;
    /* height: auto; */
    object-fit: contain;
    padding: 30px;
    background-color:rgb(67, 26, 163);
}

