nav {
    text-align: center;
    background-color: rgb(36, 60, 196);
    color: white;
}

.nav-list a {
    font-size: 30px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-list a:hover {
    border-radius: 50px;
    box-shadow: 0px 0px 3px 0px white;
    color: white
}