.header {
    text-align: center;
    background-color: rgba(10, 10, 10, 0.938);
    margin-bottom: 3%;
}

.name-header {
    padding: 30px;
    font-size: 45px;
    color: white;
    /* border-bottom: solid black 5px; */
}

nav {
    text-align:right;
    background-color: rgba(26, 25, 25, 0.938);
    color: white;
    /* border-bottom: solid black 5px; */
}

.nav-list a {
    font-size: 25px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.nav-list a:hover {
    color: rgb(185, 145, 248)
}



