#root {
    background-color: rgb(250, 249, 252);
}

.apps {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
}

.apps div {
    margin: 2%;
    /* margin-bottom: 5%; */
}

.apps a {
    color:black;
    font-size:20px;
    text-decoration: none;
}

.apps p {
    margin-top: 15px;
}

.apps a:hover {
    color: rgb(67, 26, 163);
    filter: saturate(150%);
    
    
}

.apps img {
    border-radius: 20px;
    border:1px solid rgb(67, 26, 163);
}



